@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<div class="row" style="margin:50px">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Register a new account</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating" style="margin:10px">
                    <input asp-for="Input.CompanyName" class="form-control" autocomplete="" aria-required="true" />
                    <label asp-for="Input.CompanyName" class="form-label"></label>
                    <span asp-validation-for="Input.CompanyName" class="text-danger"></span>
                </div>
                <div class="form-floating" style="margin:10px">
                    <input asp-for="Input.AdminEmail" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.AdminEmail" class="form-label"></label>
                    <span asp-validation-for="Input.AdminEmail" class="text-danger"></span>
                </div>
                <div class="form-floating" style="margin:10px">
                    <input asp-for="Input.AdminPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.AdminPassword" class="form-label"></label>
                    <span asp-validation-for="Input.AdminPassword" class="text-danger"></span>
                </div>
                <div style="margin:10px">
                    <button id="register-submit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </div>
            </form>
        </section>
    </div>
</div>
