@page "/"

@using System.Security.Cryptography;
@using System.Text
@using DataAccessLibrary


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.





@code{


    protected override async Task OnInitializedAsync()
    {

    }


}
